<div   fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" class="user-form-content-container">
            <ng-container>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <p>Your application is complete.</p>
                    <p>  Please wait for the final inspection.</p>
                    <p>  We will let you know by e-mail when your application is confirmed</p>
                    <p>  *Thank you : [Email Address]</p>
                    <br>
                    <button mat-flat-button  mat-primary (click)="done()" color="primary" matStepperNext  > DONE</button>

                  </div>
            </ng-container>
      </div>

    </div>
  </div>

