<form  fxLayout="row" [formGroup]="credentialForm"  fxLayoutAlign="center center"  >
    <div fxLayout="column" class="user-form-content-container" >
            <div fxLayout="column" style="width: 80%;" fxLayoutGap="20px">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Enter Your Email">
                        <mat-error *ngIf="credentialForm.controls['email'].errors?.required">Email address is required</mat-error>
                        <mat-error *ngIf="!credentialForm.controls['email'].errors?.required && credentialForm.controls['email'].errors?.invalid">Email is not valid</mat-error>
                         <mat-error *ngIf="credentialForm.controls['email'].errors?.emailUsed">Email is already used!</mat-error>

                        <mat-icon [color]="'primary'" matSuffix>email</mat-icon>
                        <mat-hint *ngIf="false">Hint</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password"  (keyup)="reValidateRePass()" type="password"  placeholder="Enter Your Password">
                        <mat-error *ngIf="credentialForm.controls['password'].errors?.required">Password is required</mat-error>
                        <mat-error *ngIf="credentialForm.controls['password'].errors?.minLength">Password is too short</mat-error>

                        <mat-icon matSuffix [color]="'primary'">lock</mat-icon>
                        <mat-hint *ngIf="credentialForm.controls['password']?.pristine">8 characters password are recommended</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput formControlName="re_password" type="password"  placeholder="Re-enter Your Passsord">
                        <mat-error *ngIf="credentialForm.controls['re_password'].errors?.required">Password confirmation is required</mat-error>
                        <mat-error *ngIf="credentialForm.controls['re_password'].errors?.wrong">The passwords entered do not match</mat-error>

                        <mat-icon matSuffix [color]="'primary'">lock</mat-icon>
                    </mat-form-field>


                    <div fxLayout="column" fxLayoutAlign="center end"    fxLayoutGap="10px">
                            <button mat-raised-button color="primary" (click)="saveUserCredential(credentialForm.value)" matStepperNext
                                    [disabled]="!credentialForm.valid || emailExist?.email == credentialForm.controls['email'].value ">Next</button>
                    </div>
            </div>
       </div>
</form>
