
<div fxLayout="column"  style="height: 100vh; position: relative;" fxLayoutAlign="end center" class="curved-div" >
  <div  class="mat-elevation-z10 card-container"[ngStyle.xs]="{ 'width':'300px'}"  style="border-radius: 10px;">
        <div fxLayout="row" fxLayoutAlign="center stretch" >
                <div style="text-align: center;">
                 <div [ngStyle.xs]="{'width': '70%', height: '80px'}" style=" font-size: 1.3em; height: 100px; width: 280px" >Your Logo</div>
                </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" >
            <button mat-flat-button  fxFlexOffset="40px"  routerLink="/user" color="accent" style="width: 250px;"  [ngStyle.xs]="{'width': '70%'}"
             class="tooltips" >
              Start
             </button>
        </div>
  </div>

  <svg viewBox="0 0 1440 319">
    <path fill="#fff" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,
    1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,
    320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  </svg>
  </div>
