<div   fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" class="user-form-content-container">
            <ng-container>
                <h3>Additional Information ??</h3>
                <div class="text-center">
                  <button mat-flat-button  mat-primary  color="primary" matStepperNext  > Next</button>
              </div>
            </ng-container>
      </div>
      <div style="width: 250px;height:  300px;" fxLayout="column" fxLayoutAlign="start center">
        <h3 class="color-primary">File Upload</h3>
         <img src="/assets/basic-info.png" />
        </div>
    </div>
  </div>

