@import "../../../styles.scss";
:host {
    height: 100%;
}
h3 {
    color: mat-color( $app-primary);
}
.yellow-icon {
    color: rgb(236, 236, 100);
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.yellow-icon svg {
    fill: rgb(189, 155, 6);
}
#or {
    text-align: center; font-weight: bold;
    color: mat-color( $app-primary);
}
